#map
{
    width: auto;
    height: 500px;
}

#vplayer {
    position: absolute;
    top: 240px;
    left: 10px;
    width: 300px;
    height: 180px;
    padding: 10px;
    z-index: 500;
    border: 5px solid red;
}